<ion-content class="animate-on-load">
  <div class="container">
    <div class="header">
      <ion-toolbar>
        <ion-button fill="clear" color="white" (click) = "goBack()" slot="start">
          <ion-icon name="arrow-back"></ion-icon>
        </ion-button>
        <h2 id="title-action">Emergency Contacts</h2>
      </ion-toolbar>
    </div>

    <div class="body">
      <div class="contacts-container">
        <h2>Mayor's Action Center</h2>
        <hr>
        <p>723-1511</p>
      </div>
      <div class="contacts-container">
        <h2>BFP Batangas City</h2>
        <hr>
        <p>425-7163
          / 301-7996
          / 09156021984</p>
      </div>
      <div class="contacts-container">
        <h2>PNP Batangas City</h2>
        <hr>
        <p>723-2030</p>
      </div>
      <div class="contacts-container">
        <h2>Batangas Medical Center</h2>
        <hr>
        <p>723-0911</p>
      </div>
      <div class="contacts-container">
        <h2>St. Patrick's Hospital & Medical Center </h2>
        <hr>
        <p>723-1605</p>
      </div>
      <div class="contacts-container">
        <h2>Jesus of Nazareth Hospital</h2>
        <hr>
        <p>723-4144</p>
      </div>
      <div class="contacts-container">
        <h2>Golden Gate General Hospital</h2>
        <hr>
        <p>723-2508</p>
      </div>
      <div class="contacts-container">
        <h2>MERALCO - All Departments</h2>
        <hr>
        <p>16211 / 1622-2847</p>
      </div>
      <div class="contacts-container">
        <h2>National Power Corporation - (National Highway)</h2>
        <hr>
        <p>300-3592</p>
      </div>
      <div class="contacts-container">
        <h2>PrimeWater Batangas City</h2>
        <hr>
        <p>09494142633 / 980-6928</p>
      </div>
      <div class="contacts-container">
        <h2>City Disaster Risk Reduction and Management Office</h2>
        <hr>
        <p>702-3902</p>
      </div>
      <div class="contacts-container">
        <h2>LTO Batangas City</h2>
        <hr>
        <p>740-9738</p>
      </div>
    </div>
  </div>
</ion-content>
