* {
    margin: 0;
}

.container {
    background: #FF3131;
    border-radius: 25px 25px 0 0;
    height: 76.9vh;
    display: block;
}

.header {
    color: #fff;
    position: relative;
    width: 100vw;
    text-align: center;
}

#title-action {
    position: absolute;
    top: 50%;
    left: 43%;
    transform: translate(-35%, -50%);
    color: #fff;
}

.header ion-toolbar {
    --background: transparent;
}

.header ion-button {
    color: #fff;
}

.contacts-container {
    width: 90vw;
    min-height: 10vh;
    height: auto;
    background-color: white;
    opacity: 90%;
    margin: 10px auto;
    padding: 10px;
    border-radius: 10px;
}

.body {
    position: relative;
    height: 70vh;
    overflow-y: auto;
}

hr {
    border-top: 3px solid grey;
    opacity: 30%;
    margin: 2px 0;
}

.contacts-container h2 {
    font: bold 20px Montserrat;
    opacity: 100%;
}

.contacts-container p {
    font: Bold 16px Montserrat;
    opacity: 100%;
}