#container {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    padding-top: 5vh;
}

ion-input {
    width: 70%;
    margin: 10px auto;
    border: 1px solid rgb(175, 174, 174);
    border-radius: 10px;
}

ion-input:focus {
    outline: none !important;
}

#loginBtn {
    width: 70vw;
}

#top-half {
    height: 55vh;
    background-color: #FF3131;
    text-align: center;
}

#logo {
    max-width: 40vw;
    margin: 15vh auto 0 ;
    position: relative;
}

#page {
    height: 100vh;
    margin: 0;
    background-color: #ffffff;
    display: block;
}