#container {
    text-align: center;

    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

ion-input {
    width: 70%;
    margin: 5px auto;
}

#loginBtn {
    width: 70%;
}