<ion-content [fullscreen]="true">
  <div id="page">
    <div id="top-half">
      <img src="/assets/BatSafeU-logo.png" alt="BatSafeU Logo" id="logo" />
    </div>

    <div id="container">
      <ion-input
        type="text"
        [(ngModel)]="usernameField"
        placeholder="Username"
      ></ion-input>
      <ion-input
        type="password"
        [(ngModel)]="passwordField"
        placeholder="Password"
      ></ion-input>
      <ion-button
        color="success"
        size="large"
        id="loginBtn"
        (click)="handleLogin()"
        >Login</ion-button
      >
    </div>
  </div>
</ion-content>
