<ion-content [fullscreen]="true">
<ion-content class="animate-on-load">
  <div class="container">
    <div class="header">
      <h2>Guidelines</h2>
    <div class="textbox">
        <h2 id="title-action">Guidelines</h2>
    </div>
    <div class="guideline-container">
      are some guideline

      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam voluptatibus ratione 
      quasi tenetur nam et alias ex, ullam corrupti, architecto deleniti incidunt odit molestiae 
      vero consectetur excepturi blanditiis in beatae!

      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam voluptatibus ratione 
      quasi tenetur nam et alias ex, ullam corrupti, architecto deleniti incidunt odit molestiae 
      vero consectetur excepturi blanditiis in beatae!

      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam voluptatibus ratione 
      quasi tenetur nam et alias ex, ullam corrupti, architecto deleniti incidunt odit molestiae 
      vero consectetur excepturi blanditiis in beatae!

      awdawwa
      awdwadafwad
      d
      daw
      daw
      d
      awd
      wa
      daw
      ad
      a

      awd
      aw
      d

      awd
      wa
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam voluptatibus ratione 
      quasi tenetur nam et alias ex, ullam corrupti, architecto deleniti incidunt odit molestiae 
      vero consectetur excepturi blanditiis in beatae!
    </div>
  </div>  
      quasi tenetur nam et alias ex, ullam corrupti, architecto deleniti incidunt odit molestiae 
      vero consectetur excepturi blanditiis in beatae!
    </div>
  </div>
</ion-content>
