<ion-content [fullscreen]="true">
  <div class="container">
    <div class="header">
      <h2>Guidelines</h2>
    <div class="textbox">
      are some guideline awdwadaf;amopemomeomvomapmvaemovmaepovmpoampaepmaevopaem
      avoanvopaemvoevemamov
      aveave
      aria-valuemaxevev
      eveveve
      veeeeeeeeeeeeeeeeeeeee
      veeeeeeeeeeeeeeeeeeeeawdwa
      awdwadaf


      awdawwa
      awdwadafwad
      d
      daw
      daw
      d
      awd
      wa
      daw
      ad
      a
      
      awd
      aw
      d
      
      awd
      wa
    </div>
