<ion-content>
  <ion-header id="header">
    <ion-toolbar>
      <h1>BatSafeU</h1>
      <ion-button fill="clear" color="white" slot="end">
        <ion-icon name="notifications-outline"></ion-icon>
      </ion-button>
    </ion-toolbar>
  </ion-header>
  
  <ion-item> Guest Mode </ion-item>

  <div class="body-container">
    <div class="header">
      <ion-toolbar>
        <ion-button fill="clear" color="white" (click) = "goBack()" slot="start">
          <ion-icon name="arrow-back"></ion-icon>
        </ion-button>
        <h2 id="title-action">Take A Photo</h2>
      </ion-toolbar>
    </div>
    <div class="camera-view">
      <ion-button  class="cameraBtn" (click)="setOpen(true)">
        <ion-icon name="camera-outline"></ion-icon>
      </ion-button>
    </div>
    <div class="ReportBtn">
      <ion-button color="success" class="btn" (click)="setOpen(true)">Report</ion-button>
    </div>
  </div>

  <ion-toast
    [isOpen]="isToastOpen"
    message="This feature is under development"
    [duration]="3000"
    (didDismiss)="setOpen(false)"
  ></ion-toast>
</ion-content>