<ion-content>
  <ion-header id="header">
    <ion-toolbar>
      <h1>BatSafeU</h1>
      <ion-button fill="clear" color="white" slot="end">
        <ion-icon name="notifications-outline"></ion-icon>
      </ion-button>
    </ion-toolbar>
  </ion-header>
  
  <ion-item> Guest Mode </ion-item>

  <div class="body-container">
    <ion-title>Take A Photo</ion-title>
    <div class="camera-view">
      <ion-button  class="cameraBtn">
        <ion-icon name="camera-outline"></ion-icon>
      </ion-button>
    </div>
    <div class="ReportBtn">
      <ion-button color="success" class="btn">Report</ion-button>
    </div>
  </div>
</ion-content>