.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.round-button {
    width: 90vw;
    height: 41vh;
    border-radius: 50%;
    font-size: 50px;
    font-family: Inter; 
    font-weight: 700;
    border: solid 20px #FF3131;
}