.container {
    background: #FF3131;
    border-radius: 25px 25px 0 0;
    height: 76.9vh;
    display: block;
}
.header {
    color: #fff;
    position: absolute;
    width: 100vw;
    text-align: center;
}
ion-input, ion-textarea {
    --background: #000000;
    width: 90vw;
    margin: 0 auto;
    --border-radius: 10px;
}
.text2 {
color:#000000;
background: white;
border-radius: 15px 15px;
height: 50;
}