.container {
    background: #FF3131;
    border-radius: 25px 25px 0 0;
    height: 76.9vh;
    display: block;
}

.header {
    color: #fff;
    position: absolute;
    width: 100vw;
    text-align: center;
}

.reportField {
    position: absolute;
    margin-top: 5vh;
    left: 50%;
    transform: translateX(-50%);
}

ion-input, ion-textarea {
    --background: #fff;
    width: 90vw;
    margin: .3rem auto;
    --border-radius: 10px;
}

.inputField{
    margin: 20px auto 0;
}

ion-label {
    color: #fff;
    font-size: 20px;
}

.buttonArea {
    position: absolute;
    top: 70%;
    left: 10%;
    display: inline-block;
    transform: translateY(-60%);
}

#title-action {
    position: absolute;
    top: 27%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}

.header ion-toolbar {
    --background: transparent;
}

.header ion-button {
    color: #fff;
}

::ng-deep ion-input::part(placeholder) {
    --color: red;
    --font-style: italic;
}

ion-modal{
    --background:transparent;
}