* {
    margin: 0;
    padding: 0;
}

#header {
    height: 10vh;
    background-color: #FF3131;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#header h1 {
    color: #FFF;
    font-size: 32px;
    font-family: Inter;
    font-weight: 700;
}

ion-tabs {
    margin-top: 15vh;
    max-height: 85vh;
}

ion-tab-bar {
    height: 8vh;
}

ion-tab-button {
    --background-focused: #a0a;
    --color-selected: #FF3131;
    // background: rgb(244, 35, 3) !important;
}

.ion-notif {
    background-color: transparent;
}

#header ion-toolbar {
    --background: transparent;
}

#header ion-toolbar ion-icon {
    color: white;
    font-size: 2rem;
}