<ion-content>
  <div class="container">
    <ion-header id="header">
      <h1>BatSafeU</h1>
      <!-- <ion-button class="transparent-button">
        <ion-icon name="notifications-outline"></ion-icon>
      </ion-button> -->
    </ion-header>

    <ion-item> What to do? </ion-item>

    <ion-toolbar>
      <ion-tabs id="iconTabs">
        <ion-tab-bar slot="bottom" class="scrollable-tab-bar">
          <ion-tab-button tab="threat" class="ionicon-container">
            <ion-icon name="warning-outline"></ion-icon>
            Report Threat
          </ion-tab-button>
          <ion-tab-button tab="incident" class="ionicon-container">
            <ion-icon name="alert-circle-outline"></ion-icon>
            Report Incident
          </ion-tab-button>
          <ion-tab-button tab="guidelines" class="ionicon-container">
            <ion-icon name="newspaper-outline"></ion-icon>
            Guidelines
          </ion-tab-button>
          <ion-tab-button tab="tips" class="ionicon-container">
            <ion-icon name="bulb-outline"></ion-icon>
            Tips
          </ion-tab-button>
          <ion-tab-button tab="emergency-contacts" class="ionicon-container">
            <ion-icon name="call-outline"></ion-icon>
            Emergency Contacts
          </ion-tab-button>
        </ion-tab-bar>
      </ion-tabs>
    </ion-toolbar>
  </div>
</ion-content>
