<ion-content [fullscreen]="true">
  <ion-toolbar id="title">
    <ion-title>BatSafeU</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-tabs id="iconTabs">
      <ion-tab-bar slot="top">
        <ion-tab-button tab="home">
          <ion-icon name="play-circle"></ion-icon>
          Listen Now
        </ion-tab-button>
        <ion-tab-button tab="radio">
          <ion-icon name="radio"></ion-icon>
          Radio
        </ion-tab-button>
        <ion-tab-button tab="library">
          <ion-icon name="library"></ion-icon>
          Library
        </ion-tab-button>
        <ion-tab-button tab="search">
          <ion-icon name="search"></ion-icon>
          Search
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-content>
